<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- <button mat-icon-button *ngIf="isLoggedIn">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button> -->
    <h1>INF354 Assignment 3</h1>
   
  </mat-toolbar-row>

</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true" class="side-container" *ngIf="isLoggedIn">
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/productListing'"> Product Listing </a>
      <a mat-list-item [routerLink]="'/addProduct'"> Add Product </a>
      <a mat-list-item [routerLink]="'/productReporting'"> Product Reporting </a>
      <a mat-list-item (click)="logout()"> Logout </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content-container">
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>